<!DOCTYPE html>
<html>
<head>
<title>Auto-location Map Routing Example</title>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjOiayIA21-dvQRyykBMQ1u9TyOIlwVto&libraries=places"></script>
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #location {
    margin: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    display: inline-block;
  }
  #map {
    height: 500px;
    width: 90%;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
</style>
</head>
<body>

<div id="location">You're looking at {{location}}</div>
<div id="map"></div>

<script>
    var DESTINATION_LAT = {{ lat }};
    var DESTINATION_LNG = {{ lon }}
window.onload = function() {
  getLocation();
};

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition, showError);
  } else {
    document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {


  var origin = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

  // Replace with the destination coordinates
  var destination = new google.maps.LatLng(DESTINATION_LAT, DESTINATION_LNG);

  // Now initialize the map with the user's location and plot the route
  initMap(origin, destination);
}

function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
      document.getElementById("location").innerHTML = "User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      document.getElementById("location").innerHTML = "Location information is unavailable."
      break;
    case error.TIMEOUT:
      document.getElementById("location").innerHTML = "The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      document.getElementById("location").innerHTML = "An unknown error occurred."
      break;
  }
}

function initMap(origin, destination) {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 6,
    center: origin
  });

  var directionsService = new google.maps.DirectionsService();
  var directionsRenderer = new google.maps.DirectionsRenderer({
    map: map
  });

  directionsRenderer.setMap(map);

  var request = {
    origin: origin,
    destination: destination,
    travelMode: 'DRIVING'
  };

  directionsService.route(request, function(response, status) {
    if (status == 'OK') {
      directionsRenderer.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}
</script>

</body>
</html>