<!DOCTYPE html>
<html>
<head>
    <title>Your Django App with Google Maps</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly" async defer></script>
</head>
<body>
    <div id="map" style="height: 400px; width: 600px;"></div>

    <script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
    }
    </script>
    {{coord}}
</body>
</html>