{% extends 'base.html' %}

{% block content %}
<style>
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .upload-button {
    background-color: #ff0000;
    color: white;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease; /* Updated for smooth fade to green */
    font-size: 2em;
    line-height: normal;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .upload-button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .submit-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .submit-button:hover {
    background-color: #0056b3;
  }

  .hidden-input {
    display: none;
  }
</style>

<div class="form-container">
  <h1>Image Upload</h1>
  <form method="post" enctype="multipart/form-data" id="upload-form">
      {% csrf_token %}
      <label for="file-upload" class="upload-button" id="upload-label">+</label>
    <input id="file-upload" class="hidden-input" type="file" name="image" onchange="fileSelected()">
      <button type="button" class="submit-button" onclick="submitForm()">Submit</button>
  </form>
</div>

<script>
  function fileSelected() {
    var uploadButton = document.getElementById('upload-label');
    uploadButton.style.backgroundColor = '#00ff00'; // Change to green when file is selected
    // Here you can also add logic to update the UI with the selected file name if desired.
  }

  function submitForm() {
    var form = document.getElementById('upload-form');
    form.submit(); // Only submit form when submit button is clicked
  }
</script>
{% endblock %}